<div class="card-grid">
    {{#each pokemon}}
        <div class="flip-card">
            <div class="pokemon-card flip-card-inner">
                <div class="flip-card-front">
                    <div class="pokemon-card-image-container">
                        <img src="{{this.sprites.front_animated}}" class="pokemon-card-image" alt="{{this.name}} image">
                    </div>
                    <h3><a  class="card-more-button" href="/app/pokemon-details/{{this.id}}">{{this.name}} #{{this.id}}</a></h3>
                    <a>Exp: {{this.base_experience}};</a>
                    <div class="pokemon-card-types-container">
                    {{#each this.types}}
                        <a class="pokemon-details-types">{{this}}</a>
                    {{/each}}
                    </div>
                </div>
                <div class="flip-card-back">
                    <div class="pokemon-card-image-container">
                        <img src="{{this.sprites.back_animated}}" class="pokemon-card-image" alt="{{this.name}} image">
                    </div>
                    <p>Height: {{this.height}}; Weight: {{this.weight}};</p>
                    <p>Growth Rate: {{this.growth_rate}};</p>
                    <p>Habitat: {{this.habitat}};</p>
                </div>
            </div>
        </div>
    {{/each}}
</div>

<script src="\js\details.js"></script>

<!--If handling data obtained through the API and not MongoDB:
<div class="card-grid">
    {{#each pokemon}}
        <div class="flip-card">
            <div class="pokemon-card flip-card-inner">
                <div class="flip-card-front">
                    <div class="pokemon-card-image-container">
                        <img src="{{this.sprites.versions.generation-v.black-white.animated.front_default}}" class="pokemon-card-image" alt="{{this.name}} image">
                    </div>
                    <h3>{{this.name}}</h3>
                    <p>Exp: {{this.base_experience}}</p>
                    <p><a  class="card-more-button" href="/app/pokemon-details/{{this.id}}">More on {{this.name}}</a></p>
                </div>
                <div class="flip-card-back">
                    <div class="pokemon-card-image-container">
                        <img src="{{this.sprites.versions.generation-v.black-white.animated.back_default}}" class="pokemon-card-image" alt="{{this.name}} image">
                    </div>
                    <a>Types:</a>
                    {{#each this.types}}
                        <a>{{this.type.name}}</a>
                    {{/each}}
                    <p>Height: {{this.height}}; Weight: {{this.weight}}</p>
                </div>
            </div>
        </div>
    {{/each}}
</div>--->