{{>header}}

<div class="page-body">
    {{#if noPokemon}}
        <h4 class="center-text">You do not have any Pokemons yet.</h4>
        <h4 class="center-text">Explore your Pokedex and try to catch some Pokemons!</h4>
    {{/if}}
    {{#if pokemonInTeam}}
    <h4 class="center-text">You can carry 6 Pokémons in your team.</h4>
    <h4 class="center-text">Adding a 7th Pokemon will cause the first to be sent to your Personal Pokémon Storage Box.</h4>
    
    <hr>
    
    <div class="container">
        <div class="edit-team-head row">
            <div class="col">
                <a>In Team</a>
            </div>
            <div class="col">
                <a>Pokémon</a>
            </div>
            {{#if pokemon}}
            <div class="col">
                <a>Remove from team</a>
            </div>
            {{/if}}
        </div>
        <div id="edit-team-team-div">
            {{#each pokemonInTeam}}
                <div class="row edit-team-body">
                    <div class="col">
                        <img src="{{this.sprites.front_default}}" alt="https://res.cloudinary.com/dvru7nv6q/image/upload/v1654107302/pokemon-tawny-port/pokeball-png-45332_rarrzq.png">
                    </div>
                    <div class="col">
                        <a>{{this.name}} #{{this.id}}</a>
                    </div>
                    {{#if ../pokemon}}
                    <div class="col">
                        <form class="edit-team-form" method="post" action="/app/own-pokemon-team-edit-remove/{{this.id}}">
                            <button type="submit "class="remove-pokemon-from-team-btn"><span class="hidden">{{this.id}}</span></button>
                        </form>    
                    </div>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    </div>

    <hr>
    
    <div class="container">
        <div class="edit-team-head row">
            <div class="col">
                <a>Caught</a>
            </div>
            <div class="col">
                <a>Pokémon</a>
            </div>
            <div class="col">
                <a>Add to team</a>
            </div>
        </div>
    {{/if}}
        <div id="edit-team-pokemon-div">
            {{#if pokemon}}  
                {{#each pokemon}}
                <div class="row edit-team-body">
                    <div class="col">
                        <img src="{{this.sprites.front_default}}" alt="https://res.cloudinary.com/dvru7nv6q/image/upload/v1654107302/pokemon-tawny-port/pokeball-png-45332_rarrzq.png">
                    </div>
                    <div class="col">
                        <a>{{this.name}} #{{this.id}}</a>
                    </div>
                    <div class="col">
                        <form class="edit-team-form" method="post" action="/app/own-pokemon-team-edit-add/{{this.id}}">
                            <button type="submit "class="add-pokemon-to-team-btn"><span class="hidden">{{this.id}}</span></button>
                        </form>   
                    </div>
                </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>

{{>footer}}

<!--<script src="/js/axios.js"></script>-->