{{>header}}

{{#if inSession}}   
    <form action="/app/catch-pokemon/{{this.pokemon.id}}" method="get">
        <button class="btn btn-danger">Catch!</button>
    </form>
{{/if}}

<h1 class="pokemon-details-name">{{this.pokemon.name}} #{{this.pokemon.id}}</h1>
    <div class="pokemon-details-image-container">
        <div class="pokemon-details-shiny-images-container">
            <p>Normal:</p>
            <img src="{{this.pokemon.sprites.front_default}}" alt="{{this.pokemon.name}} image">
            <img src="{{this.pokemon.sprites.back_default}}" alt="{{this.pokemon.name}} image">
        </div>
        <div class="pokemon-details-shiny-images-container">
            <p>Shiny:</p>
            <img src="{{this.pokemon.sprites.front_shiny}}" alt="{{this.pokemon.name}} image">
            <img src="{{this.pokemon.sprites.back_shiny}}" alt="{{this.pokemon.name}} image">
        </div>
    </div>
    <div class="pokemon-details">
        <h4>Pokedex Data</h4>
        <div class="pokemon-details-card">
                <p><span class="bold">Base Exp:</span> {{this.pokemon.base_experience}};</p>
                <p><span class="bold">Height:</span> {{this.pokemon.height}} cm;</p>
                <p><span class="bold">Weight:</span> {{this.pokemon.weight}} g;</p>
                <p><span class="bold">Types:</span> 
                {{#each this.pokemon.types}}
                    <a class="pokemon-details-types">{{this}}</a>
                {{/each}}
                <p><span class="bold">Growth Rate:</span> {{this.pokemon.growth_rate}};</p>
                <p><span class="bold">Habitat:</span> {{this.pokemon.habitat}};</p>
        </div>
    
        <h4>Evolution Chain</h4>
        <div class="evolution-chain-container">
            {{#each evolutionChainPokemons}}
            <div>
                <img src="{{this.sprites.front_animated}}" alt="">
                <p><a href="/app/pokemon-search?id={{this.id}}">{{this.name}}</a></p>
            </div>
            {{/each}}
        </div>
        
        <h4>Breeding</h4>
        <p>Egg Groups:</p>
        <div class="egg-groups-container">
        {{#each this.pokemon.egg_groups}}
            <div>
                <p>{{this}}</p>
                <a href="/app/pokemon-by-egg-group-list/{{this}}">Other {{this}}s</a>
            </div>
        {{/each}}
        </div>
    </div>

{{>footer}}

<script src="\js\details.js"></script>

<!--

    <h1>{{this.pokemon.name}}</h1>

    <img src="{{this.pokemon.sprites.front_default}}" alt="{{this.pokemon.name}} image">
    <img src="{{this.pokemon.sprites.back_default}}" alt="{{this.pokemon.name}} image">

    <img src="{{this.pokemon.sprites.front_shiny}}" alt="{{this.pokemon.name}} image">
    <img src="{{this.pokemon.sprites.back_shiny}}" alt="{{this.pokemon.name}} image">

    <h4>Pokedex Data</h4>
    <p>National no.: {{this.pokemon.id}}</p>
    <p>Base Exp: {{this.pokemon.base_experience}}</p>
    <p>Height: {{this.pokemon.height}} cm</p>
    <p>Weight: {{this.pokemon.weight}} g</p>
    <p>Types: 
        {{#each this.pokemon.types}}
            <a>{{this.type.name}}</a>
        {{/each}}
    <p>Growth Rate: {{this.pokemonSpecies.growth_rate.name}}</p>
    <p>Habitat: {{this.pokemonSpecies.habitat.name}}</p>

    {{#if this.pokemonEvolutionChain}}
    <h4>Evolution Chain</h4>
    <p>{{this.pokemonEvolutionChain.chain.species.name}}</p>
    <a href="{{this.pokemonEvolutionChain.chain.species.name}}">More on {{this.pokemonEvolutionChain.chain.species.name}}</a>
    <p>{{this.pokemonEvolutionChain.chain.evolves_to.[0].species.name}}</p>
    <a href="{{this.pokemonEvolutionChain.chain.evolves_to.[0].species.name}}">More on {{this.pokemonEvolutionChain.chain.evolves_to.[0].species.name}}</a>
    <p>{{this.pokemonEvolutionChain.chain.evolves_to.[0].evolves_to.[0].species.name}}</p>
    <a href="{{this.pokemonEvolutionChain.chain.evolves_to.[0].evolves_to.[0].species.name}}">More on {{this.pokemonEvolutionChain.chain.evolves_to.[0].evolves_to.[0].species.name}}</a>
    {{/if}}

    <h4>Breeding</h4>
    <p>Egg Groups:</p>
    {{#each this.pokemonSpecies.egg_groups}}
    <p>{{this.name}}</p>
    <a href="/app/pokemon-by-egg-group-list/{{this.name}}">Other pokemons who belong to {{this.name}} egg group</a>
    {{/each}}
    
-->