{{>header}}

<div id="trainer-list-container" class="container">
    <div class="pokedex-head row">
        <div class="col">
            <img class="pokedex-pokeball-image medium-screen-hidden" src="https://res.cloudinary.com/dvru7nv6q/image/upload/v1654107302/pokemon-tawny-port/pokeball-png-45332_rarrzq.png" alt="Image">            
        </div>
        <div class="col medium-screen-hidden">
            <a>Name</a>
        </div>
        <div class="col">
            <a>Username</a>
        </div>
        <div class="col small-screen-hidden">
            <a>Pokemon</a>
        </div>
        <div class="col">
            <a>Profile</a>
        </div>
    </div>
    {{#each trainers}}
    <div class="row pokedex-body">
        <div class="col">
            <img class = "trainer-list-image" src="{{this.image}}" alt="https://res.cloudinary.com/dvru7nv6q/image/upload/v1654107302/pokemon-tawny-port/pokeball-png-45332_rarrzq.png">
        </div>
        <div class="col medium-screen-hidden" >
            <a>{{this.name}}</a>
        </div>
        <div class="col" >
            <a>{{this.username}}</a>
        </div>
        <div class="col small-screen-hidden">
            <a>{{this.pokemon.length}}</a>
        </div>
        <div class="col">
            <a class="trainer-list-link" href="/app/trainer-profile/{{this.id}}">Details</a>
        </div>
    </div>
    {{/each}}
</div>

{{>footer}}