{{>header}}

<div class="page-body">
    <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
        <div class="profile-card p-4">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="profile-image-and-user-details-container">
                    <div class="profile-image-container d-flex justify-content-center ">
                        <img class="profile-image" src="{{this.trainer.image}}" height="100" width="100" alt="User Image"/>
                    </div>  
                <div class="profile-user-details-container">
                    <span class="profile-name d-flex mt-2 justify-content-center">{{this.trainer.name}}</span>
                    <span class="profile-idd d-flex mt-2 justify-content-center">@{{this.trainer.username}}</span>
                    <span class="profile-number d-flex mt-2 justify-content-center align-items-center gap">{{this.trainer.pokemon.length}} <span class="profile-pokemon">Pokemons</span></span>
                </div>
                </div>  
                <div class="profile-buttons-container">
                    <div class="d-flex mt-2 justify-content-center">
                        <form action="/app/trainer-team/{{this.trainer.id}}" method="get">
                            <button class="btn btn-primary">See Team</button>
                        </form>
                    </div>  
                </div>
                <p class="profile-text mt-3"> 
                    {{this.trainer.description}} 
                </p>
            </div>
        </div>
    </div>
</div>

{{>footer}}