{{>header}}

<div class="container">
    <div class="pokedex-head row">
        <div class="col">
            <img class="pokedex-pokeball-image" src="https://res.cloudinary.com/dvru7nv6q/image/upload/v1654107302/pokemon-white/pokeball-png-45332_rarrzq.png" alt="Image">
        </div>
        <div class="col">
            <a>Name</a>
        </div>
        <div class="col">
            <a>Username</a>
        </div>
        <div class="col">
            <a>Pokemons</a>
        </div>
        <div class="col">
            <a>See Profile</a>
        </div>
    </div>
    {{#each trainers}}
    <div class="row pokedex-body">
        <div class="col">
            <img src="{{this.image}}" alt="https://res.cloudinary.com/dvru7nv6q/image/upload/v1653720586/pokemon-white/pokeball-transparent-png-2_skcq48.png">
        </div>
        <div class="col">
            <a>{{this.name}}</a>
        </div>
        <div class="col">
            <a>{{this.username}}</a>
        </div>
        <div class="col">
            <a>{{this.pokemon.length}}</a>
        </div>
        <div class="col">
            <a class="trainer-list-link" href="/app/trainer-profile/{{this.id}}">Details</a>
        </div>
    </div>
    {{/each}}
</div>

{{>footer}}